<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>BookMyTicket</title>
</head>

<body style="background-color:rgb(14, 15, 15);">
    <nav class="navbar navbar-expand-lg navbar-light   sticky-top" style="background-color:rgb(14, 15, 15);">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="#">BookMyTicket</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="/homeadmin">Movie</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="/homeadminvenue">Venue</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="/homeadminshow">Show</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="/summary">summary</a>

                    </li>
                </ul>
                <form class="d-flex " action="/homeadminshow" method="GET">
                    <input class="form-control me-2" type="search" placeholder="Movie, Venue, dd-mm" aria-label="Search" id="keyword" name="keyword">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
                <div class="mx-2">

                    
                    <button class="btn btn-light" onclick="window.location.href ='/signout';">LogOut</button>
                </div>
            </div>
        </div>
    </nav>



    <div class="container mx-10">
        <p class="text-start fw-bold text-secondary">Shows</p>
        <table class="table table-striped table-hover">
            <tr>
                <th class="text-light">Movie</th>
                <th class="text-light">Venue</th>
                <th class="text-light">Price</th>
                <th class="text-light">Remaining Capacity</th>
                <th class="text-light">Date</th>
                <th class="text-light">Start</th>
                <th class="text-light">End</th>
                <th class="text-light">Action</th>
            </tr>
            {% for i in data %}
            <tr>
                <td class="text-light">{{i['movie_name']}}</td>
                <td class="text-light">{{i['venue_name']}}</td>
                <td class="text-light">{{i['price']}}</td>
                <td class="text-light">{{i['remaining_capacity']}}</td>
                <td class="text-light">{{i['date']}}</td>
                <td class="text-light">{{i['start_time']}}</td>
                <td class="text-light">{{i['end_time']}}</td>
                <td class="text-light"><button  onclick="myFunction({{i['id']}});">Delete</button></td>

            </tr>
            {% endfor %}
            
        </table>
    </div>




    <div class="bg-dark text-secondary px-4 py-1 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">BookMyTicket</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">We provide all possibilities here.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

<script>
    function myFunction(y) {
  if (confirm("Confirm Delete") == true) {
  location.replace("/"+y+"/deleteshow")
  }
}
</script>

</html>